# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# JaCoCo
*.exec

# OS
.DS_Store
Thumbs.db